.performances__list-item {
  padding: 32px 8px;
  position: relative;
}

.performances__list-item::after {
  position: absolute;
  content: '';
  display: block;
  background: black;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
}

@media (min-width: 1096px) {
  .performances__list-item {
    padding-top: 0;
    padding-bottom: 0;
  }
  .performances__list-item::after {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    max-height: 268px;
  }
  .performances__list-item:last-of-type::after {
    width: 0;
    height: 0;
  }
}

@media (min-width: 1384px) {
  .performances__list-item {
    padding-left: 30px;
    padding-right: 30px;
  }

  .performances__list-item:first-of-type {
    padding-left: 0;
  }
  .performances__list-item:last-of-type {
    padding-right: 0;
  }
}
