.promo__headline {
  padding: 56px 24px 22px;
  box-sizing: border-box;
}

@media screen and (min-width: 504px) {
  .promo__headline {
    max-width: 496px;
  }
}

@media screen and (min-width: 768px) {
  .promo__headline {
    grid-area: title;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 65px;
  }
}
