.page {
  font-family: Formular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(236, 235, 232, 1);
  min-width: 320px;
}

.page *::-webkit-scrollbar-track,
.page *::-webkit-scrollbar-thumb {
  background: transparent;
}

.page::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.page::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}
.page::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}
.page::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}
