.play__author {
  word-wrap: break-word;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: #242424;
  transition: color 0.2s ease;
}

.play__author:visited {
  color: #242424;
}

.play__author:hover {
  background-image: linear-gradient(to bottom, #242424 90%, transparent 70%);
  color: #ecebe8;
}
