.button_type_projects {
  height: 32px;
  width: 115px;
  margin-left: 20px;
  /* margin-top: 33px; */
  /* margin-bottom: 10px; */
  /* top: 0; */
  padding: 9px 0 9px 10px;
  border-bottom: 1px solid #242424;
  border-right: 1px solid #242424;
  outline: 0;
  line-height: 14px;
}

.button_type_projects::after {
  background-image: url(../../../images/arrow-left.svg);
  right: 0;
}

@media (min-width: 768px) {
  .button_type_projects {
    grid-area: button;
    margin-left: 30px;
    margin-top: 33px;
    height: 32px;
    width: 120px;
  }
}