.button_type_external {
  width: 298px;
  height: 56px;
  line-height: 1.38;
  padding: 16px 0 18px 20px;
  border: 1px solid #000000;
}

.button_type_external::after {
  background-image: url(../../../images/arrow-right.svg);
}
