.popup__right-button {
  all: unset;
  line-height: 0;
  cursor: pointer;
  justify-self: end;
  grid-column: 3/4;
  grid-row: 1/-1;
  position: relative;
  right: -50%;
}

@media (min-width: 768px) {
  .popup__right-button {
    right: 0;
    padding-left: 32px;
  }
}
