.scroll-row__list {
  list-style: none;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-grid;
  column-gap: 30px;
  grid-auto-flow: column;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .scroll-row__list {
    padding-left: 30px;
    padding-right: 30px;
  }
}
