.popup__arrow-icon {
  width: 41px;
  height: 41px;
}

.popup__arrow-icon:hover .popup__circle {
  fill: #242424;
  transition: fill 0.2s ease;
}

.popup__arrow-icon:hover .popup__arrow {
  fill: #ecebe8;
  transition: fill 0.2s ease;
}

@media (min-width: 1024px) {
  .popup__arrow-icon {
    width: 66px;
    height: 66px;
  }
}
