.about-project__headline {
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  max-width: 490px;
}

@media (min-width: 768px) {
  .about-project__headline {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}
