.promo {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 36px; */
}

.promo__title {
  max-width: 450px;
  /* margin-top: 60px; */
  margin-left: 24px;
  overflow-wrap: break-word;
  font-family: "Neue Machina";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.promo__text {
  width: 73%;
  max-width: 420px;
  margin-left: auto;
  margin-top: 22px;
  margin-right: 24px;
  margin-bottom: 36px;
  font-family: "Neue Machina";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.promo__image {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .promo {
    /* gap: 65px 120px; */
    grid-template-areas: ". title" "text image";
    grid-template-columns: 1fr 1fr;
  }
  .promo__title {
    grid-area: title;
    margin-left: 0;
    margin-bottom: 65px;
    font-size: 72px;
    line-height: 70px;
  }
  .promo__text {
    grid-area: text;
    margin-top: 0;
    margin-bottom: auto;
    margin-right: 120px;
    font-size: 28px;
    line-height: 32px;
  }
  .promo__image {
    grid-area: image;
  }
}