.promo {
  display: grid;
  /* gap: 10px 20px; */
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* outline: 1px solid red; */
}

.promo__side {
  width: 50%;
}

/* .promo__top {
  display: flex;
  justify-content: space-between;
}

.promo__bottom {
  display: flex;
  justify-content: space-between;
} */

.promo__button {
  /* margin-right: auto; */
  height: 25px;
  width: 110px;
  margin-top: 36px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-left: 0 solid #242424;
  border-top: 0 solid #242424;
  outline: none;
  font-family: "Formular";
  font-size: 16px;
  font-weight: 300;
  line-height: 14px;
  text-align: right;
  /* border: 1px solid red; */
}

.promo__button:active {
  background-color: red;
}

.promo__title {
  width: 450px;
  /* margin-right: auto; */
  margin-top: 59px;
  margin-bottom: 65px;
  overflow-wrap: break-word;
  font-family: "Neue Machina";
  font-size: 72px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -0.01em;
}

.promo__text {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-family: "Neue Machina";
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.promo__image {
  width: 100%;
  /* outline: 1px solid lightgreen; */
}