.performance__info {
  margin-bottom: 16px;
  grid-column: 2 / 3;
}

@media (min-width: 412px) {
  .performance__info {
    margin-bottom: 40px;
  }
}

@media (min-width: 1384px) {
  .performance__info {
    margin-bottom: 16px;
  }
}
