.video__title {
  margin-bottom: 38px;
  margin-top: 57px;
  box-sizing: border-box;
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .video__title {
    margin-left: 362px;
    max-width: 568px;
    margin-bottom: 42px;
    text-align: left;
    padding: 0;
  }
}
