.team__headline {
  box-sizing: border-box;
  max-width: 490px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .team__headline {
    padding-left: 0;
    padding-right: 21%;
    margin-bottom: 42px;
    max-width: 720px;
    text-align: left;
  }
}
