.performance__links-item {
  margin-bottom: 16px;
}

.performance__links-item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 412px) {
  .performance__links-item {
    margin-bottom: 0;
    margin-right: 26px;
  }

  .performance__links-item:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: 1096px) {
  .performance__links-item {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .performance__links-item:last-of-type {
    margin-bottom: 0;
  }
}
