.performance {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 92px minmax(200px, 244px);
}

@media (min-width: 412px) {
  .performance {
    column-gap: 30px;
  }
}

@media (min-width: 1384px) {
  .performance {
    column-gap: 32px;
    grid-template-columns: 120px 272px;
  }
}
