.video__paragraph {
  max-width: 720px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .video__paragraph {
    margin-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
