.gallery__title {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  max-width: 490px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .gallery__title {
    padding-left: 0;
    padding-right: 21%;
    max-width: 720px;
    margin-top: 145px;
    margin-bottom: 42px;
    text-align: left;
  }
}
