.about-project {
  box-sizing: border-box;
  padding-top: 56px;
  padding-bottom: 72px;
  background-color: #B7C09D;
}

@media (min-width: 1024px) {
  .about-project {
    padding-top: 79px;
    padding-bottom: 120px;
  }
}
