@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_backlink.css);
@import url(../blocks/button/_type/button_type_anons.css);
@import url(../blocks/button/_type/button_type_reading.css);
@import url(../blocks/button/_type/button_type_download.css);
@import url(../blocks/button/_type/button_type_external.css);

@import url(../blocks/headline/headline.css);
@import url(../blocks/headline/_level/headline_level_1.css);
@import url(../blocks/headline/_level/headline_level_2.css);
@import url(../blocks/headline/_level/headline_level_3.css);
@import url(../blocks/headline/_level/headline_level_4.css);
@import url(../blocks/headline/_level/headline_level_5.css);
@import url(../blocks/headline/_level/headline_level_6.css);
@import url(../blocks/headline/_level/headline_level_7.css);

@import url(../blocks/text/text.css);
@import url(../blocks/text/_size/text_size_big.css);
@import url(../blocks/text/_size/text_size_medium.css);
@import url(../blocks/text/_size/text_size_small.css);
@import url(../blocks/text/_type/text_type_caption.css);
@import url(../blocks/text/_type/text_type_link.css);
@import url(../blocks/text/_muted/text_muted.css);

@import url(../blocks/scroll-row/scroll-row.css);
@import url(../blocks/scroll-row/__list/scroll-row__list.css);

@import url(../blocks/promo/promo.css);
@import url(../blocks/promo/__headline/promo__headline.css);
@import url(../blocks/promo/__title/promo__title.css);
@import url(../blocks/promo/__subtitle/promo__subtitle.css);
@import url(../blocks/promo/__image/promo__image.css);

@import url(../blocks/about-project/about-project.css);
@import url(../blocks/about-project/__container/about-project__container.css);
@import url(../blocks/about-project/__title/about-project__title.css);
@import url(../blocks/about-project/__paragraph/about-project__paragraph.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__container/gallery__container.css);
@import url(../blocks/gallery/__headline/gallery__headline.css);
@import url(../blocks/gallery/__list/gallery__list.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/gallery/__image/gallery__image.css);

@import url(../blocks/plays/plays.css);
@import url(../blocks/plays/__container/plays__container.css);
@import url(../blocks/plays/__headline/plays__headline.css);
@import url(../blocks/plays/__item/plays__item.css);

@import url(../blocks/play/play.css);
@import url(../blocks/play/__author/play__author.css);
@import url(../blocks/play/__button/play__button.css);
@import url(../blocks/play/__button-group/play__button-group.css);
@import url(../blocks/play/__heading/play__heading.css);
@import url(../blocks/play/__headline-container/play__headline-container.css);
@import url(../blocks/play/__headline/play__headline.css);
@import url(../blocks/play/__info/play__info.css);

@import url(../blocks/team/team.css);
@import url(../blocks/team/__container/team__container.css);
@import url(../blocks/team/__headline/team__headline.css);
@import url(../blocks/team/__item/team__item.css);

@import url(../blocks/person/person.css);
@import url(../blocks/person/__info/person__info.css);
@import url(../blocks/person/__name/person__name.css);
@import url(../blocks/person/__photo-container/person__photo-container.css);
@import url(../blocks/person/__photo/person__photo.css);
@import url(../blocks/person/__profession/person__profession.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__left-button/popup__left-button.css);
@import url(../blocks/popup/__arrow-icon/popup__arrow-icon.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__right-button/popup__right-button.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/resources/resources.css);
@import url(../blocks/resources/__container/resources__container.css);
@import url(../blocks/resources/__headline/resources__headline.css);
@import url(../blocks/resources/__content/resources__content.css);
@import url(../blocks/resources/__description/resources__description.css);
@import url(../blocks/resources/__button/resources__button.css);

@import url(../blocks/cooperation/cooperation.css);
@import url(../blocks/cooperation/__container/cooperation__container.css);
@import url(../blocks/cooperation/__headline/cooperation__headline.css);
@import url(../blocks/cooperation/__content/cooperation__content.css);
@import url(../blocks/cooperation/__text/cooperation__text.css);
@import url(../blocks/cooperation/__link/cooperation__link.css);
