.promo__title {
  max-width: 368px;
  padding: 0 24px 22px;
  box-sizing: border-box;
}

@media screen and (min-width: 504px) {
  .promo__title {
    max-width: 496px;
  }
}

@media screen and (min-width: 960px) {
  .promo__title {
    grid-area: title;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 65px;
  }
}
