.video__headline {
  box-sizing: border-box;
  max-width: 490px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 50px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .video__headline {
    padding-left: 0;
    padding-right: 21%;
    max-width: 720px;
    margin-bottom: 45px;
  }
}
