.performance__date {
  margin-bottom: 16px;
  max-width: 204px;
  display: flex;
  justify-content: space-between;
  font-feature-settings: 'ss01' on;
}

@media (min-width: 1384px) {
  .performance__date {
    margin-bottom: 4px;
    max-width: 200px;
  }
}
