.performance__date {
  margin: 0 42px 16px 0;
  display: flex;
  justify-content: space-between;
  font-feature-settings: 'ss01' on;
}

@media (min-width: 1384px) {
  .performance__date {
    margin-bottom: 4px;
    margin-right: 72px;
  }
}
