.resources__headline {
  padding-left: 24px;
  padding-right: 23%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  max-width: 468px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .resources__headline {
    padding-left: 0;
    max-width: 720px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .resources__headline {
    margin-left: 361px;
    max-width: 810px;
  }
}
