.video__ifraime-main {
  margin: 0 auto;
  width: 366px;
  height: 206px;
  border: 0;
}
@media screen and (min-width: 1023px) {
  .video__ifraime-main {
    min-width: 718px;
    min-height: 403px;
    margin: 0 auto 55px;
  }
}
